---
# Compiled by jekyll
---
@charset "utf-8";

@import "widgets/ribbon";

body {
	line-height: normal;
}

body > header > img {
	float:none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

main article > header h1 {
	background: none;
	text-shadow: none;
	color: black;
}

main article {
	clear: both;
	background: none;
}

article > header {
	max-width: 610px;
	margin-top: 50px;
	margin-bottom: 50px;
}

article > header > h1{
	text-align: center;
	font-size: 3em;
}

article > header > h2 {
	text-align: center;
	font-size: 1.75em;
}

article > section {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

article > section > .call_to_action {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

.items {
	text-align: justify;
}

.items > * {
	text-align: left;
}

.item > header > h1 {
	font-size: 2.5em;
	text-align: center;
}

.item {
	width: 40%;
}

.alone {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

footer {
	margin-top: 150px;
}

@media all and (max-width: 1160px) {

	.alone {
		width: 60%;
	}
}

@media all and (max-width: 760px) {

	body > header.no-nav {
		margin-top: 0;
	}

	body > header > img {
		display: none;
	}

	.item,
	.alone {
		width: auto;
	}

	.item {
		margin: 20px auto;
	}
}