---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables
@import "variables";

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"normalize"
	,"layout"
    ,"typography"
    ,"theme"
    ,"widgets/nav"
    ,"widgets/sidebar"
    ,"widgets/breadcrumbs"
    ,"widgets/footer"
    ,"widgets/table"
    ,"widgets/actions"
    ,"syntax-highlighting"
;
