---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/**
 *	TYPOGRAPHY
 */
$logo-font: "Alegreya Sans", sans-serif;
$nav-font: "Open Sans Condensed", sans-serif;
$header-font: "Open Sans Condensed", sans-serif;
$body-font: "Noto Sans", sans-serif;

$font-size: 16px;
$font-weight: 400;

/**
 *	COLORS
 */
$page-bg: #f2f2f2;
$text-bg: white;
$cta: #3dbba6;
$brand: #D48E0C;

$logo-font-color: black;
$header-font-color: black;
$body-font-color: #333333;

$link-color: #00747a;
$link-hover-color: #d5eff0;
$link-visited-color: #00747a;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"normalize"
	,"layout"
    ,"typography"
    ,"theme"
    ,"widgets/nav"
    ,"widgets/sidebar"
    ,"widgets/breadcrumbs"
    ,"widgets/footer"
    ,"_syntax-highlighting"
;
