html {
	background: #f2f2f2 url(img/header-bg.png) repeat-x;
}

body {
	color: #333333; 
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 20px;
	line-height: 1.3em;
	margin-left: auto;
	margin-right: auto;
}

/* GENERAL TYPOGRAPHY */

h1 {
	font-family: "Open Sans Condensed",sans-serif;
	font-weight: 300;
}

p {
	padding: 0px 5px;
}

article > section > header > h1 {
	font-size: 1.75em;
}

article > section > h1 {
	font-size: 1.5em;
}

article > section > h2 {
	font-size: 1.25em;
}

article > section > h3 {
	font-size: 1.1em;
}

a {
	color: #00747a; 
	text-decoration: none; 
	transition: all 0.25s ease-in-out; 
	-webkit-transition: all 0.25s ease-in-out; 
	-moz-transition: all 0.25s ease-in-out;
}

ul li {
	list-style-type: circle;
}

a:hover {
	background: #d5eff0;
}

/* NAV BAR */

body > nav {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	text-align: right;

	background-color: #ffab0e; 
}

body > nav ul {
	margin-top: 18px;
	z-index: 1;
}

body > nav ul li {
	margin-top: 0;
	display: inline-block;
}

body > nav a {
	color: white;

	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-radius: 10px;

	text-shadow: 1px 1px 1px #d48e0c;
	text-decoration: none;
	
	padding: 5px 20px;
	margin: 6px 0 0 15px;

	transition: all 0.25s ease-in-out; 
	-webkit-transition: all 0.25s ease-in-out; 
	-moz-transition: all 0.25s ease-in-out;
	
}

body > nav a:hover {
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	background: transparent;
}

body > nav .current {
	background: #00747a;
	border-radius: 10px;
	box-shadow: inset 5px 5px 5px 0px rgba(50, 50, 50, 0.2);
}

body > nav .current:hover {
	background: #00747a;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
}

#menu_toggle {
	margin-right: 10px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	background: transparent;
	display: none;
	padding: 5px 15px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#menu_toggle:hover {
	background: #00747a;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
}

/* MAIN WITH SIDE NAV */

main.has-aside article,
main.has-aside > header {
	width: 65%;
	float: left;
}

main.has-aside article {
	background-color: white;
	padding: 10px;
	margin-bottom: 40px;
}

main.has-aside article > header h1 {
	font-weight: 300;
	font-size: 45px;
	text-shadow: 1px 1px 1px #d48e0c;
	color: #FFF;
	line-height: normal;

	display: block;
	border-radius: 7px;
	padding: 12px 20px;
	margin-top: 0px;
	margin-bottom: 30px;
	
	background: #ffab0e;
	background: -moz-linear-gradient(left,  #ffab0e 58%, #ff960e 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(58%,#ffab0e), color-stop(100%,#ff960e));
	background: -webkit-linear-gradient(left,  #ffab0e 58%,#ff960e 100%);
	background: -o-linear-gradient(left,  #ffab0e 58%,#ff960e 100%);
	background: -ms-linear-gradient(left,  #ffab0e 58%,#ff960e 100%);
	background: linear-gradient(to right,  #ffab0e 58%,#ff960e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffab0e', endColorstr='#ff960e',GradientType=1 );
}

/* SIDE NAV */

aside {
	width: 350px;
	clear:both;
	float: right;
	border-bottom: 1px solid #e2e2e2;
	border-top: 1px solid #fff;
	line-height: 1.3em;
}

aside header {
	background: #00747a;  
	text-transform: uppercase;
	margin: 0;
}

aside header h1 {
	line-height: normal;
	font-size: 1.3em;
	padding: 0px;
	margin: 0px;
}

aside header h1 a,
aside header h1 a:hover {
	font-family: "Open Sans Condensed",sans-serif;
	font-size: 25px;
	background: none;
	color: #fff;
	display: block;
	padding: 10px 15px;
}

aside nav {
	border-bottom: 1px solid #e2e2e2;
	border-top: 1px solid #fff;
}

aside nav ul {

	margin: 0;
	padding: 0;
}

aside nav ul li {
	list-style-type: none;
	text-transform: none;
	border: 0 none;
	background: red;
}

aside nav ul li a {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	display: block;
	padding: 15px;
	color: #fff;
	background: #3ebba7; 
	padding: 10px 15px; 
	text-shadow: 1px 1px 1px #005357;
}

aside nav ul li a:hover {
	background: #00747a;
}

aside nav ul .current a {
	background: #30A491;
}

aside nav ul .current a:hover {
	background: #00747a;
}

/* PAGE HEADER */

body > header {
	margin-top: -45px;
	clear: both;
}

body > header > img {
	margin-top: -8px;
	float: left;
}

body > header > h1 {
	float: left;
	text-transform: uppercase;
	line-height: 1.8em; 
	padding: 0 20px;
}

body > header > h1 > p {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 30px; 
	font-weight: normal;
}

body > header > h1 > p:first-child {
	border-bottom: 1px solid black;
	margin-bottom: 0px;
	margin-top: 20px;
}

body > header > h1 > p:last-child {
	margin-top: 0px;
}

body > header.no-nav {
	margin-top: 20px;
}

/* BREADCRUMBS */

#breadcrumb {
	clear: both;
	list-style: none;
}

#breadcrumb li {
	display: inline;
	font-size: 18px;
}

#breadcrumb li:first-child:before {
	content: "";
}

#breadcrumb li:before {
	content: "\00BB \0020";
}

/* COURSE LANGUAGE AND DIFFICULTY SELECTORS */

#lang_selector {
	float: left;
}

#difficulty_selector {
	float: right;
	margin-right: 50px;
}

#lang_selector li,
#difficulty_selector li {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	line-height: 1em;
	padding: 3px;
}

#lang_selector input[type=checkbox],
#difficulty_selector input[type=checkbox] {
	display: inline-block;
	
}

#lang_selector label,
#difficulty_selector label {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 10px;
	position: relative;
	top: -2px;
}

/* MAIN CONTENT */

main {
	margin: 0 auto;
	overflow: hidden;
	clear: both;
}

main * {
	text-align: left;
}

main > header {
	margin: auto;
	height: auto;
	width: 100%;
	display: inline-block;
}

main > header > h1 {
	font-weight: 300;
	font-size: 45px;
	text-shadow: 1px 1px 1px #d48e0c;
	color: #FFF;
	line-height: normal;

	display: block;
	border-radius: 7px;
	padding: 12px 20px;
	margin-bottom: 30px;
	
	background: #ffab0e;
	background: -moz-linear-gradient(left,  #ffab0e 58%, #ff960e 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(58%,#ffab0e), color-stop(100%,#ff960e));
	background: -webkit-linear-gradient(left,  #ffab0e 58%,#ff960e 100%);
	background: -o-linear-gradient(left,  #ffab0e 58%,#ff960e 100%);
	background: -ms-linear-gradient(left,  #ffab0e 58%,#ff960e 100%);
	background: linear-gradient(to right,  #ffab0e 58%,#ff960e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffab0e', endColorstr='#ff960e',GradientType=1 );
}

/* COURSE-ITEMS */

.items:after {
	content: "";
	display: inline-block;
    width: 100%;
}

.item {
	display: inline-block;
	vertical-align: top;
	width: 310px;
	background-color: white;
	margin: 10px 15px;
	padding: 20px;
	padding-bottom: 0px;
	position: relative;
}

.item > header {
	padding-top: 10px;
}

.item > header > h1 {
	margin-top: 0px;
	font-size: 1.4em;
	line-height: normal;
}

.item > header > h2 {
	text-align: center;
}

.difficulty,
.time_estimate {
	margin: 0px;
	color: #00747a;
	position: relative;
	display: inline-block;
	clear: none;
}

.time_estimate {
	float: right;
}

.difficulty:hover,
.time_estimate:hover {
	cursor: help;
}

.explanation {
	display: none;

	position:absolute;
	width: 275px;
	padding: 10px;
	background: white;
	border: 1px solid #F2F2F2;
	border-radius: 5px;
	font-weight: normal;
	color: black;
}

.difficulty:hover .explanation {
	display: block;
}

.time_estimate:hover .explanation {
	display: block;
	right: 0;
}

.item .organiser {
	width: auto;
	height: 1em;
	margin-top: 0.2em;
	float: left;
	margin-right: 5px;
}

.item * {
	clear: both;
}

.item > section {
	clear:both;
}

.call_to_action {
	margin-top: 10px;
}

.call_to_action a,
.call_to_action a:visited {
	width: 100%;
	margin: 0px -20px 0px -20px;
	color: white;
	background-color: #3dbba6;
	text-align: center;
	padding: 20px;
	display: block;
	text-shadow: #696969 1px 1px 1px;
}

.call_to_action a:hover {
	background-color: #00747a;
}

.call_to_action a:first-line {
	font-size: 1.5em;
}

.not_now a,
.not_now: avisited {
	background-color: #c0c0c0;
}

.not_now a:hover {
	background-color: #c0c0c0;
}


/* FOOTER */

body > footer {	
	width: 100%;
	background-color: white;
	padding: 30px 0px;
	margin-top: 50px;
}

body > footer > article {
	max-width: 1150px;
	margin: auto;
}

body > footer > article > section {
	vertical-align: top;
	display: inline-block;
	text-align: left;

	width: 350px;
	padding: 23px;

	border-right: 1px solid black;
}

body > footer > article > section:first-child {
	margin-left: 0%;
	padding-left: 0%;
}

body > footer > article > section:last-child {
	border-right: none;
	padding-right: 0%;
	margin-right: 0%;
}

body > footer .facebook:before,
body > footer .irc:before,
body > footer .sourceforge:before {
	margin-right: 10px;
	position: relative;
	top: 12px;
}

body > footer .facebook:before {
	content: url(img/social-media-facebook.png);
}

body > footer .irc:before {
	content: url(img/social-media-irc.png);
}

body > footer .sourceforge:before {
	content: url(img/social-media-sourceforge.png);
}

footer #license p img {
	float: right;
}

footer #license > img {
	display: block;
	max-width: 100%;
	height: auto;
}

main, header, nav, footer > article {
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;
}

/* Fix whitespace between inline-block footer sections */
#contact, #license {
	margin-left: -4px;
}

/* MEDIATYPES */

/* Two column */
@media all and (max-width: 1160px) {

	body > header > h1 > p {
		font-size: 25px;
	}

	main {
		padding: 30px;
	}

	aside {
		width: 30%;
	}

	.items {
		text-align: justify;
	}

	.item {
		width: 43%;
		margin-left: 0;
		margin-right: 0;
	}

	body > footer > article {
		display: block;
		text-align: center;
	}

	body > footer > article > section {
		height: 275px;
		display: inline-block;
		border: 0;
		margin: auto;
		min-width: 0px;
		width: initial;
	}

	#about {
		width: 300px;
	}

	#contact {
		padding-top: 0;
		width: 300px;
		position: relative;
		top: -30px;
	}

	#contact p:first-child {
		padding-top: 0;
	}

	#license img {
		margin-right: auto;
		margin-left: auto;
	}

	footer #license p img {
		float: none;
		display: block;
		margin-bottom: 10px;
	}
}

/* Single column */
@media all and (max-width: 760px) {

	html {
		background: #ffffff;
	}

	main > header {
		width: 100%;
	}

	main > header > h1 {
		border-radius: 0;
	}

	body > header > h1 > p {
		font-size: 20px;
	}

	main {
		padding: 0;
		background: #F2F2F2;
	}

	#difficulty_selector,
	#lang_selector {
		float: none;
		margin: 15px 0px;
	}

	.item, 
	.item:nth-child(odd),
	.item:nth-child(even){
		display: block;
		float: none;
		width: 90%;
		margin-left: auto;
		margin-right: auto; 
	}

	.banner,
	.banner * {
		display: none;
	}

	body > header {
		margin-top: 0px
	}

	body > header > img {
		height: 50px;
		position: absolute;
		top: 12px;
		left: 20px;
	}

	body > header > h1 {
		float: none;
		clear: both;
		max-width: 360px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		line-height: 0.75em;
	}

	/* Collapse NAV */
	body > nav {
		min-height: 60px;
	}

	body > nav a, 
	body > nav ul, 
	body > nav li {
		display: none;
	}

	#menu_toggle {
		position: absolute;
		right: 0px;
		top: 0px;
		display: block;
	}

	body > nav.active ul {
		position:absolute;
		top: 55px;
		margin-top: 0;
		background-color: #ffab0e; 
		width: 100%;
	}

	body > nav.active ul,
	body > nav.active li,
	body > nav.active li a {
		display: block;
	}

	body > nav.active ul {
		padding-bottom: 5px;
		padding-left: 0px;
	}

	body > nav.active li {
		margin-left: 75px;
		text-align: left;
	}

	body > nav.active li a {
		border: 0;
		margin: 5px 0px 4px 0px;
		transition: none; 
		-webkit-transition: none; 
		-moz-transition: none;
	}

	body > nav.active li a:hover {
		border: 0;
	}

	body > nav .current,
	body > nav .current:hover {
		background: 0;
		box-shadow: none;
	}

	body > nav a.active:hover {
		display: none;
	}

	main.has-aside,
	main.has-aside > header,
	main.has-aside article {
		width: auto;
	}

	#breadcrumb {
		display: none;
	}

	aside {
		clear: none;
		width: 100%;
	}

	aside header {
		display: none;
	}

	aside nav ul {
		text-align: center;
	}

	aside nav ul li {
		display: block;
		width: 46%;
		margin: 5px 5px;
	}

	aside nav ul li:nth-child(odd) {
		margin-left: 2%;
		float: left;
	}

	aside nav ul li:nth-child(even) {
		float: right;
		margin-right: 2%;
	}
}

/* Really small screens */
@media all and (max-width: 475px) {

	body > nav:after {
		content: "MOOC.FI";
		position: absolute;
		top: 17px;
		left: 100px;
		color: white;
		font-family: "Open Sans Condensed",sans-serif;
		font-weight: bold;
	}

	body > header > h1 {
		display: none;
	}

	main > header > h1 {
		font-size: 1.3em;
	}

	aside nav ul li,
	aside nav ul li:nth-child(odd),
	aside nav ul li:nth-child(even) {
		margin: 5px 0;
		float: none;
		width: 100%;
	}

	#about,
	#contact,
	#license {
		max-width: 80%
	}
}

/* SILLY HACKS */
.invisible {
	height: 0;
	margin: 0;
	padding: 0;
}
