html {
	background: #f2f2f2 url(img/header-bg.png) repeat-x;
}

body {
	color: #333333; 
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 20px;
	line-height: 1.3em;
	margin-left: auto;
	margin-right: auto;
}

/* GENERAL TYPOGRAPHY */

h1 {
	font-family: "Open Sans Condensed",sans-serif;
	font-weight: 300;
}

a {
	color: #00747a; 
	text-decoration: none; 
	transition: all 0.25s ease-in-out; 
	-webkit-transition: all 0.25s ease-in-out; 
	-moz-transition: all 0.25s ease-in-out;
}

ul li {
	list-style-type: circle;
}

a:hover {
	background: #d5eff0;
}

/* NAV BAR */

nav {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	text-align: right;

	background-color: #ffab0e; 
}

nav ul {
	margin-top: 18px;
}

nav ul li {
	margin-top: 0;
	display: inline-block;
}

nav a {
	color: white;

	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-radius: 10px;

	text-shadow: 1px 1px 1px #d48e0c;
	text-decoration: none;
	
	padding: 5px 20px;
	margin: 6px 0 0 15px;

	transition: all 0.25s ease-in-out; 
	-webkit-transition: all 0.25s ease-in-out; 
	-moz-transition: all 0.25s ease-in-out;
	
}

nav a:hover {
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	background: transparent;
}

nav .current {
	background: #00747a;
	border-radius: 10px;
	box-shadow: inset 5px 5px 5px 0px rgba(50, 50, 50, 0.2);
}

nav .current:hover {
	background: #00747a;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
}

#menu_toggle {
	margin-right: 10px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	background: transparent;
	display: none;
	padding: 5px 15px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#menu_toggle:hover {
	background: #00747a;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
}

/* PAGE HEADER */

body > header {
	margin-top: -45px;
}

body > header > img {
	float: left;
}

body > header > h1 {
	float: left;
	text-transform: uppercase;
	line-height: 1.8em; 
	padding: 0 20px;
}

body > header > h1 > p {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 30px; 
	font-weight: normal;
}

body > header > h1 > p:first-child {
	border-bottom: 1px solid black;
	margin-bottom: 0px;
	margin-top: 20px;
}

body > header > h1 > p:last-child {
	margin-top: 0px;
}

/* BREADCRUMBS */

#breadcrumb {
	clear: both;
	list-style: none;
}

#breadcrumb li {
	display: inline;
	font-size: 18px;
}

#breadcrumb li:first-child:before {
	content: "";
}

#breadcrumb li:before {
	content: "\00BB \0020";
}

/* MAIN CONTENT */

main {
	margin: 0 auto;
	overflow: hidden;
	clear: both;
	text-align: justify;
}

main * {
	text-align: left;
}

main > header {
	margin: auto;
	height: auto;
	width: 100%;
	display: inline-block;
}

#banner {
	width: 100%;
	height: auto;
}

.slick-slide img {
	max-width:100%;
}


.slick-dots {
	margin: 0;
	bottom: 5px;
	text-align: right;
}

.slick-dots li {
	vertical-align: bottom;
}

.slick-dots li button:before {
	font-size: 20px;
	color: #3dbba6;
}

.slick-dots li.slick-active button:before {
	color: #e8e8e8;
}

main > header > h1 {
	font-weight: 300;
	font-size: 45px;
	text-shadow: 1px 1px 1px #d48e0c;
	color: #FFF;
	line-height: normal;

	display: block;
	border-radius: 7px;
	padding: 12px 20px;
	margin-bottom: 30px;
	
	background: #ffab0e;
	background: -moz-linear-gradient(left,  #ffab0e 58%, #ff960e 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(58%,#ffab0e), color-stop(100%,#ff960e));
	background: -webkit-linear-gradient(left,  #ffab0e 58%,#ff960e 100%);
	background: -o-linear-gradient(left,  #ffab0e 58%,#ff960e 100%);
	background: -ms-linear-gradient(left,  #ffab0e 58%,#ff960e 100%);
	background: linear-gradient(to right,  #ffab0e 58%,#ff960e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffab0e', endColorstr='#ff960e',GradientType=1 );
}

/* COURSE-ITEMS */

.item {
	display: inline-block;
	vertical-align: top;
	width: 310px;
	background-color: white;
	margin-bottom: 25px;
	padding: 20px;
}

.item > header {
	padding-top: 10px;
}

.item > header > h1 {
	margin-top: 0px;
	font-size: 1.4em;
	line-height: normal;
}

.item .organiser {
	width: auto;
	height: 1em;
	margin-top: 0.2em;
	float: left;
	margin-right: 5px;
}

.item > section {
	clear:both;
}

#twitter {
	float: right;
	margin-left: 50px;
	height: 350px
}

#twitter > header > h1 {
	width: 100%;
}

#twitter img {
	width: 45px;
}

.call_to_action,
.call_to_action:visited {
	color: white;
	background-color: #3dbba6;
	text-align: center;
	padding: 20px;
	display: block;
	margin: 0 -20px -20px -20px;
	text-shadow: #696969 1px 1px 1px;
}

.call_to_action:hover {
	background-color: #00747a;
}

.call_to_action:first-line {
	font-size: 1.5em;
}

.not_now,
.not_now:visited {
	background-color: #c0c0c0;
}

.not_now:hover {
	background-color: #c0c0c0;
}


/* FOOTER */

body > footer {	
	width: 100%;
	background-color: white;
	padding: 30px 0px;
}

body > footer > article {
	max-width: 1150px;
	margin: auto;
}

body > footer > article > section {
	vertical-align: top;
	display: inline-block;
	text-align: left;

	width: 350px;
	padding: 23px;

	border-right: 1px solid black;
}

body > footer > article > section:first-child {
	margin-left: 0%;
	padding-left: 0%;
}

body > footer > article > section:last-child {
	border-right: none;
	padding-right: 0%;
	margin-right: 0%;
}

body > footer .facebook:before,
body > footer .irc:before,
body > footer .sourceforge:before {
	margin-right: 10px;
	position: relative;
	top: 12px;
}

body > footer .facebook:before {
	content: url(img/social-media-facebook.png);
}

body > footer .irc:before {
	content: url(img/social-media-irc.png);
}

body > footer .sourceforge:before {
	content: url(img/social-media-sourceforge.png);
}

footer #license p img {
	float: right;
}

footer #license > img {
	display: block;
	max-width: 100%;
	height: auto;
}

main, header, nav, footer > article {
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;
}

/* Fix whitespace between inline-block footer sections */
#contact, #license {
	margin-left: -4px;
}

/* MEDIATYPES */

/* Two column */
@media all and (max-width: 1160px) {

	body > header > h1 > p {
		font-size: 25px;
	}

	main {
		padding: 30px;
	}

	.item {
		width: 43%;
	}

	.item:nth-child(odd) {
		float: right;
	}

	.item:nth-child(even) {
		float: left;
	}

	#twitter {
		margin-left: 0;
		float: right;
	}

	.item:nth-of-type(2) {
		float: left;
	}

	body > footer > article {
		display: block;
		text-align: center;
	}

	body > footer > article > section {
		display: inline-block;
		border: 0;
		margin: auto;
		min-width: 0px;
		width: initial;
	}

	#about {
		width: 300px;
	}

	#contact {
		width: 300px;
		position: relative;
		top: -30px;
	}

	#license img {
		margin-right: auto;
		margin-left: auto;
	}

	footer #license p img {
		float: none;
		display: block;
		margin-bottom: 10px;
	}
}

/* Single column */
@media all and (max-width: 760px) {

	html {
		background: #ffffff;
	}

	main > header > h1 {
		border-radius: 0;
	}

	body > header > h1 > p {
		font-size: 20px;
	}

	main {
		padding: 0;
		background: #F2F2F2;
	}

	.item, 
	#twitter,
	.item:nth-child(odd),
	.item:nth-child(even),
	.item:nth-of-type(2) {
		display: block;
		float: none;
		width: 90%;
		margin-left: auto;
		margin-right: auto; 
	}

	.banner,
	.banner * {
		display: none;
	}

	body > header {
		margin-top: 0px
	}

	body > header > img {
		height: 50px;
		position: absolute;
		top: 5px;
		left: 20px;
	}

	body > header > h1 {
		float: none;
		clear: both;
		max-width: 360px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		line-height: 0.75em;
	}

	/* Collapse NAV */
	nav {
		min-height: 60px;
	}

	nav a, nav ul, nav li {
		display: none;
	}

	#menu_toggle {
		display: inline-block;
		float: right;
	}

	nav.active {
		margin-top: -5px;
	}

	nav.active ul {
		margin-top: 0;
	}

	nav.active ul,
	nav.active li,
	nav.active li a {
		display: block;
	}

	nav.active ul {
		padding-bottom: 5px;
		padding-left: 0px;
	}

	nav.active li {
		text-align: left;
	}

	nav.active li a {
		border: 0;
		margin: 5px 0px 4px 0px;
		transition: none; 
		-webkit-transition: none; 
		-moz-transition: none;
	}

	nav.active li a:hover {
		border: 0;
	}

	nav .current,
	nav .current:hover {
		background: 0;
		box-shadow: none;
	}

	nav a.active:hover {
		display: none;
	}
}

/* SILLY HACKS */
.invisible {
	height: 0;
	margin: 0;
	padding: 0;
}
