<footer>
	<article>
	<section id="about">
		<p>MOOC.FI is a provider of free, high quality University level courses for everyone.</p>
		<p>Out course selection includes courses for everyone, from novice to an old hand.</p>
	</section>
	<section id="contact">
		<p class="facebook">Information <a href="http://twitter.com/mooc1">Twitter</a> &amp; <a href="https://www.facebook.com/Moocfi">Facebook</a></p>
		<p class="irc">Guidance <a href="{{ "/courses/general/programming/irc-guide.html" | prepend: site.baseurl }}">#mooc.fi @ IRCNet</a></p>
		<p class="sourceforge">Bug reports <a href="http://sourceforge.net/p/mooc-issues/tickets/">SourceForge</a></p>
	</section>
	<section id="license">
		<a href="http://cs.helsinki.fi/en">
			<img src="{{ "/img/helsingin-yliopisto-computer-science.png" | prepend: site.baseurl }}" alt="University of Helsinki - Department of computer science">
		</a>
		<p>
			<img src="{{ "/img/copyright.png" | prepend: site.baseurl }}" alt="Creative Commons copyright"> 
			All the material is licensed under Creative Commons BY-NC-SA. 
		</p>
	</section>
	</article>
</footer>