<footer>
	<article>
		<section id="newsletter">
			<form action="https://mooc.us8.list-manage.com/subscribe/post?u=db82662e446284fd41bd8370e&amp;id=46d3d4ede3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate >
					<p>Jätä sähköpostisi niin lähetämme tiedon aina kun uusia kursseja julkaistaan.</p>
					<p>
						<label for="EMAIL">Sähköpostiosoite:</label>
						<input type="text" name="EMAIL" id="EMAIL"><br>
						<input class="subscribe" type="submit" value="Lähetä" onclick="ga('send','event','button','click','subscribe')">
					</p>
			</form>
		</section>
		<section id="contact">
			<p class="facebook">Tiedotus <a href="http://twitter.com/mooc1" onclick="ga('send','event','link','click','twitter-outbound')">Twitter</a> &amp; <a href="https://www.facebook.com/Moocfi" onclick="ga('send','event','link','click','facebook-outbound')">Facebook</a></p>
			<p class="irc">Ohjaus <a href="{{ "/courses/general/ohjelmointi/tukikanavat/irc/ohjeet/" | prepend: site.baseurl }}">#mooc.fi @ IRCNet</a></p>
			<p class="email">Sähköposti <a href="mailto:mooc@cs.helsinki.fi">mooc@cs.helsinki.fi</a></p>
		</section>
		<section id="license">
			<a href="http://cs.helsinki.fi" onclick="ga('send','event','link','click','cs-helsinki-outbound')">
				<img src="{{ "/img/helsingin-yliopisto-computer-science.png" | prepend: site.baseurl }}" alt="Helsingin yliopisto - Department of computer science">
			</a>
			<p>
				Sivustoa ylläpitää Agile Education Research -tutkimusryhmä.
			</p>
			<p>
				<img src="{{ "/img/copyright.png" | prepend: site.baseurl }}" alt="Creative Commons copyright">
				Sivuston kaikki materiaali on lisensoitu Creative Commons BY-NC-SA-lisenssillä
			</p>
		</section>
	</article>
	<article id="privacy">
		<p>
			<a href="{{ "/cookies/"}}"> Cookies and privacy</a> | <a href="{{ "/evasteet/"}}"> Evästeet ja yksityisyys</a>
		</p>
	</article>
</footer>
