<footer>
	<article>
	<section id="about">
		<p>MOOC.FI tarjoaa täysin ilmaisia yliopistotason ohjelmointikursseja kenelle tahansa.</p>
		<p>Kurssitarjonnastamme löydät opeteltavaa olit sitten ohjelmoinnista kiinnostunut aloittelija, tai taitojasi syventävä peruskoodari.</p>
	</section>
	<section id="contact">
		<p class="facebook">Tiedotus <a href="#">Twitter</a> &amp; <a href="http://www.kikatus.com/misc/MOOC/#">Facebook</a></p>
		<p class="irc">Ohjaus <a href="#">#mooc.fi @ IRCNet</a></p>
		<p class="sourceforge">Virheraportit <a href="#">SourceForge</a></p>
	</section>
	<section id="license">
		<img src="{{ "/img/helsingin-yliopisto-computer-science.png" | prepend: site.baseurl }}" alt="Helsingin yliopisto - Department of computer science">
		<p>
			<img src="{{ "/img/copyright.png" | prepend: site.baseurl }}" alt="Creative Commons copyright"> 
			Sivuston kaikki materiaali on lisensoitu Creative Commons BY-NC-SA-lisenssillä 
		</p>
	</section>
	</article>
</footer>