<footer>
	<article>
		<section id="newsletter">
			<form action="http://jamo.us8.list-manage1.com/subscribe/post?u=db82662e446284fd41bd8370e&amp;id=46d3d4ede3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate >
					<p>Leave us your email and we will send you updates about our latest courses.</p>
					<p>
						<label for="EMAIL">Email:</label>
						<input type="text" name="EMAIL" id="EMAIL"><br>
						<input class="subscribe" type="submit" value="Subscribe" onclick="ga('send','event','button','click','subscribe')">
					</p>
			</form>
		</section>
	<section id="contact">
		<p class="facebook">Information <a href="http://twitter.com/mooc1" onclick="ga('send','event','link','click','twitter-outbound')">Twitter</a> &amp; <a href="https://www.facebook.com/Moocfi" onclick="ga('send','event','link','click','facebook-outbound')">Facebook</a></p>
		<p class="irc">Guidance <a href="{{ "/courses/general/programming/irc-guide.html" | prepend: site.baseurl }}">#mooc.fi @ IRCNet</a></p>
		<p class="email">Email <a href="mailto:mooc@cs.helsinki.fi">mooc@cs.helsinki.fi</a></p>
	</section>
	<section id="license">
		<a href="http://cs.helsinki.fi/en" onclick="ga('send','event','link','click','cs-helsinki-outbound')">
			<img src="{{ "/img/helsingin-yliopisto-computer-science.png" | prepend: site.baseurl }}" alt="University of Helsinki - Department of computer science">
		</a>
		<p>
			<img src="{{ "/img/copyright.png" | prepend: site.baseurl }}" alt="Creative Commons copyright">
			All the material is licensed under Creative Commons BY-NC-SA.
		</p>
	</section>
	</article>
	<article id="privacy">
		<p>
			<a href="{{ "/cookies/"}}"> Cookies and privacy</a> | <a href="{{ "/evasteet/"}}"> Evästeet ja yksityisyys</a>
		</p>
	</article>
</footer>
