<div id="outdated-browser">
<button id="outdated-browser-close">X</button>

	<p id="outdated-browser-fi">Käyttämäsi selain on vanhentunut. Vanhentuneet selaimet ovat tietoturvariski. Sivusto ei välttämättä näy oikein selaimellasi. <a target="_blank" href="http://browsehappy.com/">Lue lisää</a>.</p>
	<p id="outdated-browser-en">You are using an outdated browser. Outdated browsers are a security risk. This website might not work correctly on your browser. <a target="_blank" href="http://browsehappy.com/">Read more</a>.</p>


</div>