body {
	margin-left: auto;
	margin-right: auto;
}

/**
 * NAVIGATION
 */

body > nav ul {
	margin-top: 13px;
	z-index: 1;
}

body > nav ul li {
	margin-top: 0;
	display: inline-block;
}

body > nav a {
	padding: 5px 20px;
	margin: 6px 0 0 15px;
}

/**
 * LOGO
 */

body > header {
	margin-top: -45px;
	clear: both;
}

body > header > img {
	margin-top: -8px;
	float: left;
}

body > header > h1 {
	float: left;
	padding: 0 20px;
}

body > header > h1 > span {
	display: block;
	margin-top: 0px;

	&:first-child {
		border-bottom: 1px solid black;
		margin-bottom: 0px;
		margin-top: 45px;
	}
}

body > header.no-nav {
	margin-top: 20px;
}

/**
 * CONTENT WITH SIDENAV
 */

main article > header h1 {
	display: block;
	border-radius: 7px;
	padding: 12px 20px;
	margin-top: 0px;
	margin-bottom: 30px;
}

main.has-aside article,
main.has-aside > header {
	width: 65%;
	float: left;
}

main.has-aside article {
	padding: 10px;
	margin-bottom: 40px;
}

/**
 * MAIN CONTENT
 */

 main {
	margin: 0 auto;
	overflow: hidden;
	clear: both;
}

main > header {
	margin: auto;
	height: auto;
	width: 100%;
	display: inline-block;
}

main > header > h1 {
	display: block;
	border-radius: 7px;
	padding: 12px 20px;
	margin-bottom: 30px;
}

article {
	padding: 10px;
}

.no-header {
	margin-top: 350px;
}

.items:after {
	content: "";
	display: inline-block;
    width: 100%;
}

.item {
	display: inline-block;
	vertical-align: top;
	width: 310px;
	margin: 10px 15px;
	padding: 20px;
	padding-bottom: 0px;
	position: relative;
}

.item > header {
	padding-top: 10px;
}

.item .difficulty {
	margin: 0px;
	margin-bottom: 10px;
	color: #00747a;
	position: relative;
	display: inline-block;
	clear: none;
}

.item .organiser {
	width: auto;
	height: 1em;
	margin-top: 0.2em;
	float: left;
	margin-right: 5px;
}

.item * {
	clear: both;
}

.item > section {
	clear:both;
}

.call_to_action {
	margin-top: 40px;
}

.call_to_action a,
.call_to_action input,
.call_to_action a:visited {
	width: 100%;
	margin: 0px -20px 0px -20px;
	padding: 20px;
	display: block;
	box-sizing: content-box;
}

img {
	max-width: 100%;
}

article li {
	padding: 10px 0;
}

article ol,
article ul {
	margin: 10px 0;
}

@media all and (max-width: 1160px) {

	main {
		padding: 30px;
	}

	.item {
		width: 43%;
		margin-left: 0;
		margin-right: 0;
	}
}

@media all and (max-width: 760px) {

	main {
		padding: 0;
	}

	main > header {
		width: 100%;
	}

	.no-header {
		margin-top: 0px;
	}

	main.has-aside,
	main.has-aside > header,
	main.has-aside article {
		width: auto;
	}

	.item,
	.item:nth-child(odd),
	.item:nth-child(even){
		display: block;
		float: none;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	body > header {
		margin-top: 0px
	}

	body > header > img {
		height: 50px;
		position: absolute;
		top: 12px;
		left: 20px;
	}

	body > header > h1 {
		float: none;
		clear: both;
		max-width: 360px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
}

@media all and (max-width: 475px) {

	body > header > h1 {
		display: none;
	}

	main.has-aside,
	main.has-aside > header,
	main.has-aside article {
		width: 100%;
		padding: 0;
	}

	main.has-aside article > header h1 {
		width: 100%;
		border-radius: 0;
	}

}
