body {
	margin-left: auto;
	margin-right: auto;
}


/**
 * CONTENT WITH SIDENAV
 */

main article > header h1 {
	display: block;
	border-radius: 7px;
	padding: 12px 20px;
	margin-top: 0px;
	margin-bottom: 30px;
}

main.has-aside article,
main.has-aside > header {
	width: 65%;
	float: left;
}

main.has-aside article {
	padding: 10px;
	margin-bottom: 40px;
}

/**
 * MAIN CONTENT
 */

 main {
	margin: 0 auto;
	overflow: hidden;
	clear: both;
}

article {
	padding: 10px;
}

.no-header {
	margin-top: 100px;
}

img {
	max-width: 100%;
}

article li {
	padding: 6px 0;
}

article li li {
	padding: 4px;
}

article ol,
article ul {
	margin: 10px 0;
}

@media all and (max-width: 1160px) {

	main {
		padding: 30px;
	}
}

@media all and (max-width: 760px) {

	main {
		padding: 30px 0 0 0;
	}

	main > header {
		width: 100%;
	}

	.no-header {
		margin-top: 0px;
	}

	main.has-aside,
	main.has-aside > header,
	main.has-aside article {
		width: auto;
	}
}

@media all and (max-width: 475px) {

	main.has-aside,
	main.has-aside > header,
	main.has-aside article {
		width: 100%;
		padding: 0;
	}

	main.has-aside article > header h1 {
		width: 100%;
		border-radius: 0;
	}
}
