html {
	background: #f2f2f2 url(../img/header-bg.png) repeat-x;
}

main > header h1,
main article > header h1 {

	background: #ffab0e;
}

main article {
	background-color: white;
}

.item {
	background-color: white;
}

.item > header h1 {
	background: none;
	padding: 0;
}

.call_to_action a,
.call_to_action input,
.call_to_action a:visited {
	background-color: #3dbba6;
	border: 0;

	//Fix for Safari input styles
	-webkit-appearance: none;
  border-radius: 0
}

.not_now a,
.not_now input,
.not_now a:visited {
	background-color: #c0c0c0;

	&:hover {
		background-color: #c0c0c0;
	}
}

@media all and (max-width: 760px) {

	html {
		background: white;
	}

	main {
		background: #F2F2F2;
	}

	main > header > h1 {
		border-radius: 0;
	}
}


