body {
	color: $body-font-color;
	font-family: $body-font;
	font-size: $font-size;
	font-weight: $font-weight;
}

/**
 * HEADERS
 */
h1, h2, h3 {
	font-family: $header-font;
	font-weight: 300;
	padding: 0px 5px;
}

h1 {
	font-size: 1.75em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

/**
 * BODY
 */

p {
	padding: 0px 5px;
	margin-top: 10px;
	margin-bottom: 5px;
	line-height: 1.6em;
}

a,
input[type=submit] {
	color: $link-color;

	text-decoration: none; 
	transition: all 0.25s ease-in-out; 
	-webkit-transition: all 0.25s ease-in-out; 
	-moz-transition: all 0.25s ease-in-out;

	&:hover {
		background: $link-hover-color;
	}
}

ul > li {
	list-style-type: circle;
}

/**
 * Fix anchor bgcolor visible in a tags that contain an img tag
 */

a img {
	vertical-align: middle;
}

p a img {
	background: $text-bg;
}

/**
 * NAVIGATION
 */

body > nav {
	font-family: $nav-font;
	font-size: 25px;
	text-transform: uppercase;
}

body > header > h1 {
	text-transform: uppercase;
	line-height: 1.8em; 
}

body > header > h1 {
	font-family: $logo-font;
	font-size: 30px; 
	font-weight: normal;
}

/**
 *
 */
 main article > header h1 {
	font-weight: 300;
	font-size: 45px;
	text-shadow: 1px 1px 1px #d48e0c;
	color: #FFF;
	line-height: normal;
}

.item header h1 {
	text-shadow: none;
}

main > header h1 {
	font-weight: 300;
	font-size: 45px;
	text-shadow: 1px 1px 1px #d48e0c;
	color: #FFF;
	line-height: normal;
}

.item > header h1 {
	margin-top: 0px;
	font-size: 1.8em;
	line-height: normal;
}

.item > header h2 {
	text-align: center;
}

.call_to_action a,
.call_to_action a:visited,
.call_to_action input {
	color: white;
	text-align: center;
	text-shadow: #696969 1px 1px 1px;

	&:hover {
		background-color: #00747a;
	}

	&:first-line {
		font-size: 1.5em;
	}
}

.call_to_action input {
	font-size: 1.5em;
}

@media all and (max-width: 1160px) {

	body > header > h1 > p {
		font-size: 25px;
	}

	.items {
		text-align: justify;
	}

	.items > * {
		text-align: left;
	}
}

@media all and (max-width: 760px) {

	body > header > h1 > p {
		font-size: 20px;
	}

	body > header > h1 {
		line-height: 0.75em;
	}
}

@media all and (max-width: 475px) {

	main > header > h1 {
		font-size: 1.3em;
	}
}