/**
 *	TYPOGRAPHY
 */
$logo-font: "Alegreya Sans", sans-serif;
$nav-font: "Open Sans Condensed", sans-serif;
$header-font: "Open Sans Condensed", sans-serif;
$body-font: "Noto Sans", sans-serif;

$font-size: 16px;
$font-weight: 400;

/**
 *	COLORS
 */
$page-bg: #f2f2f2;
$text-bg: white;
$cta: #3dbba6;
$brand: #FFAB0E;

$logo-font-color: black;
$header-font-color: black;
$body-font-color: #333333;

$link-color: #00747a;
$link-hover-color: #d5eff0;
$link-visited-color: #00747a;