.course-teasers {
	display: block;
	text-align: center;
	padding: 0;
}

.course-teaser a {
	color: #333;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.course-teaser,
.course-teaser.single {
	color: #333;
	padding: 0;
	display: inline-block;
	width: 450px;
	height: 317px;
	overflow: hidden;
	text-align: left;
	background: white;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 3px 5px #888888;
	-moz-box-shadow: 0px 3px 5px #888888;
	box-shadow: 0px 3px 5px #888888;

	&:hover {
		background: darken(white, 5%);
	}

	&:nth-child(odd) {
		//margin-right: 3%;
	}

	&:nth-child(even) {
		margin-left: 3%;
	}
}

.course-teaser.not-now {
	background: #c0c0c0;

	&:hover {
		background: #c0c0c0;
	}
}

.course-teaser header {
	height: 150px;
	background-color: #333;
	background-image: url("../img/course-teaser-bg2.png");
	background-size: cover;
}

.course-teaser header .course-logo {
	margin: 25px 25px 15px 0;
	height: 100px;
	float: right;
}

.course-teaser .organiser {
	float: left;
	height: 75px;
	margin: 46px 10px 46px 10px;
}

.course-teaser .name {
	font-size: 1.8em;
	font-weight: bold;
	color: #00747a;
	margin-top: 10px;
	margin-bottom: 0;
	line-height: 50px;
}

.course-teaser .description {
	margin: 8px 5px 8px 5px;
	overflow: hidden;
	height: 50px;
}

.course-teaser .additional-info {
	margin: 0 5px 5px 5px;
	font-size: 0.85em;
	overflow: hidden;
	white-space: nowrap;
}

@media all and (max-width: 1045px) {
	.course-teaser {
		width: 350px;
	}

	.course-teaser .description {
		height: 120px;
	}

	.course-teaser .additional-info {
		margin-left: 100px;
	}

	.course-teaser .name {
		font-size: 1.4em;
	}

	.course-teaser.single {
		width: 450px;
		margin-right: auto;
		margin-left: auto;
	}

	.course-teaser.single .description {
		height: 50px;
	}

	.course-teaser.single .additional-info {
		margin-left: 0px;
	}

	.course-teaser.single .name {
		font-size: 1.8em;
	}
}

@media all and (max-width: 850px) {
	.course-teaser,
	.course-teaser.single {
		width: 90%;
		display: block;
		margin: 10px auto 30px auto;

		&:nth-child(odd) {
			margin-right: auto;
		}

		&:nth-child(even) {
			margin-left: auto;
		}
	}

	.course-teaser .description,
	.course-teaser.single .description {
		height: auto;
	}

	.course-teaser .additional-info,
	.course-teaser.single .additional-info {
		padding-bottom: 10px;
	}
}

@media all and (max-width: 390px) {
	.course-teaser .organiser,
	.course-teaser.single .organiser {
		height: 40px;
		margin: 12px 10px 12px 10px;
	}

	.course-teaser .name,
	.course-teaser.single .name {
		line-height: normal;
		margin-top: 17px;
		min-height: 40px;
	}

	.course-teaser .description,
	.course-teaser.single .description {
		height: auto;
	}
}
