.ribbon {
	width: 240px;
	height: 240px;
	overflow: hidden;
	position: absolute;
	top: 45px;
	right: 0px;
	border: 0;
}

.ribbon a,
.ribbon a:hover {
	display: block;
	font: 15px;
	letter-spacing: 1px;
	text-align: center;
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	-webkit-transform: rotate(25deg);
	-moz-transform:    rotate(25deg);
	-ms-transform:     rotate(25deg);
	-o-transform:      rotate(25deg);
	transform:      rotate(25deg);
	position: relative;
	padding: 7px 0;
	left: 5px;
	top: 30px;
	width: 300px;
	background-color: #3DBBA6;
	color: #fff;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
	box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon a:hover {
	background-color: lighten(#3DBBA6, 10%);
}

@media all and (min-width: 900px) {
	.ribbon {
		display: none;
	}
}
