#site-header {
	margin-top: 0px;
}

#site-logo {
	margin-top: -8px;
	float: left;
	height: 50px;
	position: absolute;
	top: 12px;
	left: 20px;
	display: inline;
}

#site-name {
	color: white;
	display: inline;
	position: absolute;
	top: -2px;
	
	left: 80px;
}

#site-header.no-nav {
	margin-top: 20px;
}

@media all and (min-width: 761px) {
	#site-name {
		top: -18px;
	}
}