#site-header {
	margin-top: 0px;

}

#site-logo {
	float: left;
	height: 50px;
	position: absolute;
	top: 7px;
	left: 20px;
	display: inline;
	z-index: 11;
}

#site-name {
	color: white;
	display: inline;
	position: absolute;
	top: -7px;
	left: 80px;
	z-index: 11;
}

#site-header.no-nav {
	margin-top: 20px;
}
