table {
  margin: 15px 0px;
  border-spacing: 0;
  border-collapse: collapse;
  background: $text-bg;
  max-width: 100%;
}

th {
  text-align: left;
  padding: 0px 15px;
}

td {
  padding: 5px 15px;
  vertical-align: top;
}

@media all and (min-width: 476px) {

  th {

    &:first-child {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}