table {
  margin: 15px 0;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  padding: 3px;
  background: $brand;
  font-family: $header-font;
  color: white;
  font-weight: 300;
  font-size: 1.6em;
}

tr {
  margin: 0px 5px;
}

td {
  padding: 5px 5px;
}

@media all and (min-width: 476px) {

th {

  &:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }

  &:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
}
}